/*Varibales*/

:root {
    --navbar: #1e5e60;
    --color_letra: #f2f2f2;
    --color_letra_inico: ;
    --background_generos: #84bfa4;
    --color_letra_generos: #002f37;
}


/*Body*/

body {
    /*font-family: 'Chelsea Market', cursive;
*/
font-family: 'Lobster', cursive;
}

h2{
    font-family: 'Courgette', cursive;
}

/*inicio*/

#inicio a {
    color: var(--navbar);
}


/* Regilla generos  */

#generos {
    background-color: var(--background_generos);
    padding: 50px;
    height: 100%;
    text-align: center;
}

#generos img {
    width: 260px;
    height: 225px;
}

#generos .col-lg-3 {
    margin: 0 !important;
    width: 260px;
    height: 225px;
}

#generos h1,
#generos h2,
#generos h3,
#generos h4,
#generos a {
    color: var(--color_letra_generos);
}

#generos a:hover {
    text-decoration: none;
}

.caset {
    background-image: url("../img/cas_genero.png");
    background-repeat: no-repeat;
    background-size: 260px 230px;
    background-color: transparent;
    background-position: center;
}

.caset:hover {
    -webkit-transform: scale(1.3);
    transform: scale(0.9);
    overflow: hidden;
}


/*imagen estatica*/

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header h1,
h2 {
    color: var(--color_letra);
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 1;
}


/*secciones*/

.container-fluid {
    height: 100vh;
    width: 100%;
}


/* Navbar*/
.navbar {
    background-color: var(--navbar);
    opacity: 1;
    /*height: 9vh;*/
    width: 100%;
}

.nav-link {
    color: var(--color_letra);
}

.nav-link:hover {
    color: var(--color_letra);
}
.navbar-toggler-icon{
    color: var(--color_letra);
}
